<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        
        <!-- Dashboard -->
        <li class="nav-item me-3">
          <a class="nav-link {% if request.path == '/dashboard/' %}fw-bold{% endif %}" 
             href="{% url 'dashboard' %}">
            Dashboard
          </a>
        </li>

        <!-- Feed -->
        <li class="nav-item me-3">
          <a class="nav-link {% if request.path == '/feed/' %}fw-bold{% endif %}" 
             href="{% url 'feed' %}">
            Feed
          </a>
        </li>

        <!-- Browse -->
        <li class="nav-item me-3">
          <a class="nav-link {% if request.path == '/recipes/browse/' %}fw-bold{% endif %}" 
             href="{% url 'recipe_browse' %}">
            Browse
          </a>
        </li>

    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <span class="bi-person-circle"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
        <li><a class="dropdown-item" href="{% url 'view_profile' %}">View Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'profile' %}">Change profile</a></li>
        <li><a class="dropdown-item" href="{% url 'password' %}">Change password</a></li>
        <li><a class="dropdown-item" href="{% url 'user_browse' %}">Search user</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
      </ul>
    </li>
  </ul>
</div>