/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item {
  display: flex;
  align-items: center;
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 4rem;
}

p.cover-text {
  font-size: 1.7rem;
}

.cover-card {
  background-color: rgba(245, 245, 245, 0.6);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
}

.cover-card-block {
  opacity: 1
}


/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear: both;
  float: left;
}

.profile-text {
  overflow: hidden;
  padding-left: 20px
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}


/*
 * Hyperlinks
 */
.content a {
  text-decoration: none;
  color: #0d6efd;
}

.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}

/*
* Tags
*/
.tag-checkbox {
  display: none;
}

.tag-pill {
  display: inline-block;
  padding: 0.25rem 0.6rem;
  margin: 0.3rem;
  border-radius: 50px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 0.85rem;
  transition: all 0.2s;
  color: white;
}

.tag-vegetarian {
  background-color: #78c189;
  border-color: #78c189;
}

.tag-vegan {
  background-color: #0c8216;
  border-color: #0c8216;
}

.tag-dairy-free {
  background-color: #ff8725;
  border-color: #ff8725;
}

.tag-gluten-free {
  background-color: #e5c463;
  border-color: #e5c463;
}

.tag-high-protein {
  background-color: #4e07c1;
  border-color: #4e07c1;
}

.tag-halal {
  background-color: #7da6e4;
  border-color: #7da6e4;
}

.tag-nut-free {
  background-color: #cd8dab;
  border-color: #cd8dab;
}

.tag-checkbox:checked+.tag-pill {
  filter: brightness(75%);
}

.tag-pill:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

/*
* Recipe card hovers
*/

.card-hover {
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card-hover:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Delete button */
.btn-hover-grow {
  transition: transform 0.15s ease-in-out;
}

.btn-hover-grow:hover {
  transform: scale(1.1);
}

.recipe-description {
  font-size: 1.05rem;
  line-height: 1.7;
  color: #333;
  background: #fafafa;
  padding: 1.5rem;
  border-radius: 14px;
  box-shadow: inset 0 0 0 1px #eee;
}

.card.shadow-sm {
  border-radius: 18px;
}

.display-5 {
  letter-spacing: -0.4px;
}