{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard {{ user.username }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>My Recipes</h2>

      {% if recipes %}
      {% include 'recipes/recipe_card.html' %}

      {% else %}
      <div class="alert alert-info">
        <p class="mb-2">You haven't created any recipes yet.</p>
        <a href="{% url 'recipe_create' %}" class="btn btn-primary">Create Your First Recipe</a>
      </div>
      {% endif %}
    </div>
  </div>

</div>
{% endblock %}