{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="row mb-2">
        <div class="col-12">
            <h1>Your Profile</h1>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 text-center">
            <img src="{{ user_avatar }}" alt="Avatar" class="rounded-circle" width="70" height="70">
            <h2 class="fw-bold mb-1">{{ user_name }}</h2>
        </div>
    </div>
    
    <div class="row justify-content-center mb-5">
        <div class="col-md-4 mb-4 px-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    {% include "partials/users_page.html" with title="Following" count=following page=user_followings page_parameter="following_page" %}
        
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4 px-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    {% include "partials/users_page.html" with title="Followers" count=followers page=user_followers page_parameter="follower_page" %}
                </div>
            </div>    
        </div>

    </div>

    {% if favourites %}
    <section id="saved-recipes" class="mt-4">
        <h3>Saved Recipes</h3>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for fav in favourites %}
                <div class="col">
                    {% include "recipes/recipe_card.html" with recipe=fav show_fav_button=False %}
                </div>
            {% endfor %}
        </div>
    
        {% include "recipes/recipes_page.html" with recipes_page=favourites %}

    </section>
    {% else %}
        <p class="text-muted mt-3">No saved recipes yet.</p>
    {% endif %}

</div>
{% endblock %}